html {
    background-color: #A5B8CD;
    color: #2C3852;
    scroll-behavior: smooth;
}
body {
    padding-bottom: 0px;
}
/*STYLE GUIDE*/
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #2C3852;
    font-size: 25px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    mix-blend-mode: lighten;
    -webkit-mix-blend-mode: lighten;
    -moz-mix-blend-mode: lighten;
    -o-mix-blend-mode: lighten;
    -ms-mix-blend-mode: lighten;
    background: -webkit-linear-gradient(0deg, #50FF34 0%, #F8FF00 31.77%, #FF75E1 65.63%, #D1C0FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.secondaryButton {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    border: 1px solid #525D74;
    width: auto;
    height: 48px;
    background: #C4D5E8;
    box-shadow: 0px 6px 0px #424F6A;
    border-radius: 50px;
    color: #2C3852;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    line-height: 0px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
.secondaryButton:hover {
    box-shadow: 0px 8px 0px #424F6A;
    top: -2px;
}
.secondaryButton:active {
    display: flex;
    border: 1.25px solid rgba(66, 79, 106, 0.79);
    box-shadow: inset 4px 5px 10px rgba(44, 56, 82, 0.45), inset -3px -4px 10px rgba(255, 255, 255, 0.3), inset 2px 2px 4px rgba(44, 56, 82, 0.25);
    top: 4px;
}


/*ABOUT ME HERO*/ 
#aboutHero {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-top: -40px;
    padding-bottom: 50px;
    justify-content: center;
    /* FUCK GRID FUCK GRID FUCK GRID 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "pic pic pic bio bio bio"
        "snippet snippet . . snippet snippet"
        ". . diamond diamond . ."
        "chart chart chart chart chart chart";
    border: 1px solid red; */
}
.me {
    /* grid-row: auto;
    grid-area: pic pic pic;
    grid-column: 1 /span3;
    border: 1px solid red; */
    padding-right: 2%;
    /* width: 100%; */
}
.me img {
    max-width: 511px;
    max-height: auto;
    width: 100%;
    min-width: 250px;

}
.bio {
    /* grid-row: auto;
    grid-column: 4 /span6;
    grid-area: bio bio bio;
    border: 1px solid red; */
    width: 500px;
    margin-top: 100px;
    text-align: justify;
    padding-left: 2%;
    flex-wrap: nowrap;
    min-width: 300px;
}
.bio h4 {
    margin-bottom: -15px;
}
.bio button {
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
#aboutHero {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}
.me {
    padding-right: 0;
}
.bio {
    width: 100%;
    margin-top: 1%;
    justify-content: center;
    padding-left: 0;
}
.bio h4 {
    text-align: center;
    padding-bottom: 1%;
    margin-top: 3%;
}
.subtitle2 {
    font-size: 1.34em;
}
}





/*Quick Facts With CSS Grid*/ 
#facts {
    display: grid;
    margin-right: 10%;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "superpower goodAt"
        "kryptonite noThanks"
        "diamond diamond";
    padding-bottom: 150px;
    min-width: 480px;
}
.superpower {
    grid-area: superpower;
    width: max-content;
}
.kryptonite {
    grid-area: kryptonite;
    width: max-content;
}
.goodAt {
    grid-area: goodAt;
    justify-self: right;
    width: max-content;
}
.noThanks {
    grid-area: noThanks;
    justify-self: right;
    padding-right: 20px;
    width: max-content;
}
#facts p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
#facts h4 {
    margin-bottom: -15px;
}
.diamond {
    grid-area: diamond diamond;
    justify-self: center;
    grid-column: 1 /span2;
    padding-top: 30px;
    width: max-content;
}
.diamond img {
    max-width: 419px;
    max-height: auto;
    width: 100%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 600px) {
#facts {
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "superpower"
        "kryptonite"
        "goodAt"
        "noThanks"
        "diamond";
    min-width: 10px;
    padding-bottom: 25%;
}
.superpower {
    justify-self: center;
    text-align: center;
    padding-bottom: 2%;
}
.kryptonite {
    justify-self: center;
    text-align: center;
    padding-bottom: 2%;
}
.goodAt {
    justify-self: center;
    text-align: center;
    padding-bottom: 2%;
}
.noThanks {
    justify-self: center;
    text-align: center;
    padding-right: 0;
    padding-bottom: 2%;
}
.diamond {
    grid-area: diamond;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.diamond img {
    padding-top: 40px;
}
}
/*Quick Facts With CSS Grid*/ 




/* SKILLS CHART */
.skills {
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    padding-bottom: 12%;
}
.skills img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5%;
    max-width: 827px;
    max-height: auto;
    width: 100%;
    height: auto;
    min-width: 500px;
}
.secondaryButton {
    margin-top: 130px;
    justify-self: center;
    width: max-content;
}

@media screen and (max-width: 600px) {
.skills {
    margin-left: 1%;
    margin-right: 1%;
}
.skills img {
    min-width: auto;
}
.secondaryButton {
    margin-top: 28%;
    margin-bottom: 20%;
}
}


