html {
    background-color: #A5B8CD;
    color: #2C3852;
    scroll-behavior: smooth;
}

body {
    padding-bottom: 0px;
    margin-bottom: -40px;
}

/*STYLE GUIDE*/
h4 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    mix-blend-mode: lighten;
    background: -webkit-linear-gradient(0deg, #50FF34 0%, #F8FF00 31.77%, #FF75E1 65.63%, #D1C0FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}


/*ABOUT ME HERO -- CSS GRID*/ 

#aboutHero {
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        “pic pic pic bio bio bio”
        “snippet snippet empty empty snippet snippet”
        “blank blank diamond diamond blank blank”
        “chart chart chart chart chart chart”;
    border: 1px solid red;
    flex-wrap: nowrap;
    align-items: flex-start;
}


.me {
    grid-row: auto;
    grid-area: pic pic pic;
    grid-column: 1 /span3;
    border: 1px solid red;
}

.bio {
    grid-row: auto;
    grid-column: 4 /span6;
    grid-area: bio bio bio;
    border: 1px solid red;

}

.me img {
    z-index: 2;
    display: inline-block;
}

.me h2{
    margin-bottom: -100px;
}

.nice2meet1 {
    z-index: 1;
    padding-left: 50px;
    padding-top: 25px;

}

.nice2meet2 {
    z-index: 3;
    padding-left: 50px;
    padding-top: 25px;

}


