html {
    background-color: #A5B8CD;
    color: #2C3852;
    scroll-behavior: smooth;
}
body {
    padding-bottom: 0px;
    margin-bottom: -40px;
}
/*STYLE GUIDE*/
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #2C3852;
    font-size: 25px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    mix-blend-mode: lighten;
    background: -webkit-linear-gradient(0deg, #50FF34 0%, #F8FF00 31.77%, #FF75E1 65.63%, #D1C0FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}


/*ABOUT ME HERO*/ 
#aboutHero {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-top: -40px;
    padding-bottom: 50px;
    justify-content: center;
    /* FUCK GRID FUCK GRID FUCK GRID 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "pic pic pic bio bio bio"
        "snippet snippet . . snippet snippet"
        ". . diamond diamond . ."
        "chart chart chart chart chart chart";
    border: 1px solid red; */
}
.me {
    /* grid-row: auto;
    grid-area: pic pic pic;
    grid-column: 1 /span3;
    border: 1px solid red; */
    padding-right: 2%;
}
.bio {
    /* grid-row: auto;
    grid-column: 4 /span6;
    grid-area: bio bio bio;
    border: 1px solid red; */
    width: 500px;
    margin-top: 100px;
    text-align: justify;
    padding-left: 2%;
}
.bio h4 {
    margin-bottom: -15px;
}
.bio button {
    margin-top: 50px;
}



/*Quick Facts With CSS Grid*/ 
#facts {
    /* align-content: center; */
    display: grid;
    margin-right: 250px;
    margin-left: 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "superpower goodAt"
        "kryptonite noThanks"
        "diamond diamond";
    padding-bottom: 150px;
}
.superpower {
    grid-area: superpower;
}
.kryptonite {
    grid-area: kryptonite;
}
.goodAt {
    grid-area: goodAt;
    justify-self: right;
}
.noThanks {
    grid-area: noThanks;
    justify-self: right;
    padding-right: 20px;
}
#facts p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
}
#facts h4 {
    margin-bottom: -15px;
}
.diamond {
    grid-area: diamond diamond;
    justify-self: center;
    grid-column: 1 /span2;
    padding-top: 30px;
}
.diamond img {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Quick Facts With CSS Grid*/ 
.skills {
    margin-left: 150px;
    margin-right: 150px;
    justify-self: center;
    padding-bottom: 100px;
}
.skills img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

