html {
    background-color: #A5B8CD;
    color: #2C3852;
    scroll-behavior: smooth;
    width: auto;
    padding: 0px;
}

html,body {
    overflow-x: hidden;
}

body {
    padding-bottom: 0px;
    background-color: #A5B8CD;
}
a {
    text-decoration: none;
    color: #2C3852;
}

/*STYLE GUIDE*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 7.25vw;
    mix-blend-mode: lighten;
    -webkit-mix-blend-mode: lighten;
    -moz-mix-blend-mode: lighten;
    -o-mix-blend-mode: lighten;
    -ms-mix-blend-mode: lighten;
    background: -webkit-linear-gradient(0deg, #50FF34 0%, #F8FF00 31.77%, #FF75E1 65.63%, #D1C0FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    display: block;
}

.subtitle2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.CTA {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    border: none;
    width: auto;
    height: 48px;
    background: #50FF34;
    box-shadow: 0px 6px 0px #1E6214;
    border-radius: 50px;
    color: #2C3852;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
    line-height: 0px;
    position: relative;
    cursor: pointer;
}
.CTA:hover {
    box-shadow: 0px 8px 0px #1E6214;
    top: -2px;
}
button:focus {
    outline: none;
}

.CTA:active {
    display: flex;
    box-shadow: inset 4px 5px 7px rgba(0, 0, 0, 0.35), inset -3px -4px 10px rgba(255, 255, 255, 0.4);
    top: 4px;
}


/* NAVBAR */
header {
    height: auto;
    padding-bottom: 50px;
}
nav {
    display: inline-flex;
    vertical-align: top;
    padding: 1%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.myMenu {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    padding-right: 30px;
}
.navitem {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color:  #2C3852;
    text-decoration: none;
}
.logoPic {
    width: 120px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3%;
}

/* !!!!!! NAV RESPONSIVE !!!!!! */
.hamburger {
    display: none;
}
@media only screen and (max-width: 600px) {
    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        display: block;
        margin-top: 2%;
        align-items: baseline;   
    }
    .hamburger {
        display: block;
        padding-right: 4%;
        cursor: pointer;
    }
    .nest {
        display: inline-flex;
        vertical-align: top;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logoPic {
        width: 20%;
        min-width: 55px;
        height: 65%;
        display: inline-block;
        padding-left: 2%;
    }  
    .myMenu {
        display: none;
    }
    .myMenu li {
        text-align: right;
        display: flex;
        flex-direction: column;
        z-index: 9999999999999;
        align-items: center;
        background-color: #bccbdd;
        background-size: 100% auto;
      }
    .myMenu.active {
        display: flex;
        padding: 0;
        flex-direction: column;
    }
    li:not(:nth-of-type(3)) .navitem {
        border-bottom: #1e87ff42 .5px solid;
    }
    li:last-child {
        border-radius: 0 0 25px 25px;
    }
    .navitem {
        padding-right: 15%;
        padding-left: 15%;
    }
    li:hover {
        font-weight: 400;
    }
}
/* !!!!!! END NAV RESPONSIVE !!!!!! */




/*HOME PAGE HERO*/
#hero {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 12%;
    margin-bottom: 15%;
}
.herotext {
    text-align: center;
    display: inline-block;
    margin: -3vw;
}
.downbutton {
    margin-top: 28%;
    bottom: 0;
}
.mobile-herotext {
    display: none;
}
.mobile-herotext2 {
    display: none;
}


/* !!!!!! HERO RESPONSIVE !!!!!! */
@media screen and (max-width: 600px) {
    #hero {
        /* margin-bottom: -20%; */
    }
    .downbutton {
        padding-top: 65%
    }
    h1 {
        font-size: 8vw;
    }
    .mobile-herotext {
        display: inline-block;
        margin-top: 20%;
    }
    .mobile-herotext .herotext {
        margin: -3vw;
    }
    .mobile-herotext2 {
        display: inline-block;
        margin-top: 20%;
    }
    .mobile-herotext2 .herotext {
        margin: -3vw;
    }
    .downbutton {
        margin-top: 20px;
        width: 40px;
        height: auto;
    }
}
/* !!!!!! END HERO RESPONSIVE !!!!!! */



/*PATRIOTA*/
#patriota {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* padding-top: 200px;
    padding-bottom: 250px; */
    margin: 5%;
    width: 100%;
    margin-bottom: 12%;
}
.content1 {
  padding-right: 3%;
}
.content1 p {
    text-align: justify;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 2%;
}
.mock1 {
    padding-left: 1%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: -10px;
    align-items: flex-end;
    min-width: 300px;
}
.patriotaMock2 {
    margin-right: -2%;
    max-width: 197px;
    max-height: auto;
    width: 30%;
}
.patriotaMock3 {
    margin-right: -10%;
    max-width: 197px;
    max-height: auto;
    width: 30%;
}
.patriotaMock1 {
    margin-right: -6%;
    max-width: 277px;
    max-height: auto;
    align-items: flex-end;
    width: 40%;
}
/*PATRIOTA RESPONSIVE*/
@media screen and (max-width: 600px) {
    #patriota {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: 5%;
        width: auto;
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .content1 {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      padding-right: 0px;
    }
    .content1 p {
        font-size: 1.2em;
        text-align: justify;
        padding-bottom: 3%;
        line-height: normal;
    }
    .mock1 {
        display: inline-flex;
        /* flex-wrap: nowrap; */
        margin-bottom: 2%;
        /* align-items: flex-end; */
        justify-content: center;
        padding-left: 3%;
        max-width: 550px;
    }
    .patriotaMock2 {
        display: flex;
        margin-right: -3%;
        max-width: 197px;
        max-height: auto;
    }
    .patriotaMock3 {
        display: none;
    }
    .patriotaMock1 {
        margin-right: -6%;
        max-width: 277px;
        max-height: auto;
        align-items: flex-end;
    }
}
/*END PATRIOTA*/



/* MENTAL HEALTH */
#mentalhealth {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 4%;
    width: auto;
    margin-bottom: 12%;
    padding-top: 100px;
}
.content2 {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.content2 p {
    text-align: justify;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 5%;
}
.mock2 {
    margin-right: 2%;
    width: 515px;
    height: 600px;
    overflow: scroll;
    min-height: 480px;
    max-height: 700px;
    border-radius: 15px 15px 0 0;
}
.mock2 img {
    border-radius: 15px;
    max-width: 515px;
    max-height: auto;
    width: 100%;
}
/* MENTAL RESPONSIVE*/
@media screen and (max-width: 600px) {
    #mentalhealth {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        width: auto;
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .content2 {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      padding-left: 0;
    }
    .content2 p {
        font-size: 1.2em;
        text-align: justify;
        padding-bottom: 5%;
        line-height: normal;
        /* padding-left: 1px;
        padding-right: 1px; */
    }
    .mock2 {
        margin: 0 auto;
        width: 95%;
        height: 350px;
        overflow: scroll;
        max-height: 400px;
        min-height: 100px;
        border-radius: 15px 15px 0 0;
    }
    .mock2 img {
        border-radius: 15px;
        max-width: 515px;
        max-height: auto;
        width: 100%;
    }
}
/* END MENTAL */




/*ADOPT A STAR*/
#adoptstar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 4%;
    width: auto;
    margin-bottom: 12%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content3 {
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.content3 p {
    text-align: justify;
    max-width: 500px;
    min-width: 300px;
    padding-bottom: 5%;
}
.content3 img {
    max-width: 340px;
    max-height: auto;
    width: 335px;
    height: auto;
}
.mock3 {
    margin-left: 2%;
    width: 515px;
    height: 600px;
    overflow: scroll;
    min-height: 480px;
    max-height: 700px;
    border-radius: 15px 15px 0 0;
}
.mock3 img {
    border-radius: 15px;
    max-width: 515px;
    max-height: auto;
    width: 100%;
}
.mock3 img:first-of-type {
    margin-bottom: 1%;
}


/* ADOPT STAR RESPONSIVE*/
@media screen and (max-width: 600px) {
    #adoptstar {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: 5%;
        width: auto;
        padding-top: 60px;
        padding-bottom: 120px;
    }
    .content3 {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      padding-right: 0;
    }
    .content3 img {
        max-width: 336px;
        max-height: auto;
        width: 280px;
        height: auto;
        padding-right: 3%;
    }
    .content3 p {
        font-size: 1.2em;
        text-align: justify;
        padding-bottom: 5%;
        line-height: normal;
        /* padding-left: 4px;
        padding-right: 4px; */
    }
    .mock3 {
        margin: 0 auto;
        width: 95%;
        height: 350px;
        overflow: scroll;
        max-height: 400px;
        min-height: 100px;
        border-radius: 15px 15px 0 0;
    }
    .mock3 img {
        border-radius: 15px;
        max-width: 515px;
        max-height: auto;
        width: 100%;
    }
}
/* END ADOPT STAR */



/*FOOTER*/
footer {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;
    max-height: 300px;
    vertical-align: bottom;
    justify-content: space-between;
    margin-bottom: -20px;
    overflow-y: hidden;
    /* border: 3px red solid; */
}
.footerSpace {
    width: 25%;
}
.footerP {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 15px;
    flex-wrap: nowrap;
    display: flex;
    width: 50%;
    justify-content: center;
}
.footerImg {
    width: 25vw;
}
.liftman {
    max-width: 140px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: auto;
}



