html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #A5B8CD;
    color: #2C3852;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.navitem {
    padding: 30px;
    font-family: 'Monserrat', sans-serif;
}

.logo {
    width: 118px;
    height: 55px;
}

